body {
  padding: 0;
  @include gradient-bg(#1e3c72, #2a5298);
}

.header {
  @include make-div(70px, 100%, black, "absolute");
  @include gradient-shadow-style(#65656b, #0e0e0e);
}

.header__title {
  @include make-text(35px, white);
  @include text-center();
}

.view {
  @include make-div(600px, 1200px, white, "relative");
  @include make-border(3px, black, solid);
}

.tab {
  @include make-div(70px, 1200px, "", "relative");
  @include gradient-bg(#1e3c72, #2a5298);
  button {
    @include make-border(3px, black, solid);
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 37px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    &:hover {
      transform: scale(1.1);
      background-color: rgb(176, 196, 224);
    }
    &:active {
      background-color: rgb(92, 118, 158);
    }
  }
}

.content {
  @include make-div(600px, 1200px, white, "absolute");
  @include div-center();
}

.customers {
  background-color: aquamarine;
}

.info-table {
  width: 80%;
  margin-left: 150px;
  margin-top: 20px;
  font-size: 35px;
  text-align: left;
  th {
    @include make-border(3px, black, solid);
  }

  td {
    @include make-border(3px, black, solid);
  }
}

.container {
  max-width: $grid__bp-md * 1px;
  margin: 0 auto;
  height: 300px;
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
  }
  @for $i from 1 through $grid__cols {
    &__col-#{$i} {
      flex-basis: (100 / ($grid__cols / $i)) * 1%;
    }
  }
}

.h {
  @each $key, $value in $height-sizes {
    &-#{$key} {
      height: $value;
    }
  }
}

.w {
  @each $key, $value in $height-sizes {
    &-#{$key} {
      width: $value;
    }
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
 
  &:hover {
    background-color: #38c58d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: scale(1.1)
  }
  @each $key, $value in $btn-colors {
    &-#{$key} {
      color: #fff;
      background-color: $value;
    }
  }
}

.container {
  padding: 10px;
  box-sizing: border-box;
  @at-root {
    [class*="container__col-"] {
      width: 130px;
      outline: 2px solid black;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.gauge-canvas {
  margin-bottom: 50px;
}

.gauge-value {
  position: absolute;
  margin-top: 165px;
  font-size: 2rem;
  font-weight: bold;
}

.border {
  @include make-border(1px, black, solid);
}
.wrapper {
  @include wrapper-centered();
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.animation-opacity{
  animation: opacity-in 1s none;
}

.loader-label{
  position: absolute;
  font-size: 25px;
  font-family: system-ui;
}