@mixin make-div($h, $w, $bg, $pos) {
  width: $w;
  height: $h;
  background-color: $bg;
  position: $pos;
}

@mixin make-text($size, $color, $font: null) {
  font-size: $size;
  color: $color;
  @if not $font {
    font-family: "Droid Sans", sans-serif;
  } @else {
    font-family: $font;
  }
}

@mixin gradient-bg($rgb1, $rgb2) {
  background-image: linear-gradient(120deg, $rgb1 0%, $rgb2 100%);
}

@mixin make-border($width, $color, $style) {
  border: $width $style $color;
}

@mixin gradient-shadow-style($color1, $color2) {
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $color1),
    color-stop(100%, $color2)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    $color1 0%,
    $color2 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    $color1 0%,
    $color2 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $color1 0%, $color2 100%); /* IE10+ */
  background: linear-gradient(to bottom, $color1 0%, $color2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */

  /* Box Shadow */
  -webkit-box-shadow: #333 1px 1px 13px;
  -moz-box-shadow: #333 1px 1px 13px; /* color, h-offset, v-offset, blur, spread */
  box-shadow: #333 1px 1px 13px; /* inset is optional */
}

@mixin text-center() {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin div-center($width: null, $height: null) {
  position: absolute;
  top: 50%;
  left: 50%;

  @if not $width and not $height {
    transform: translate(-50%, -50%);
  } @else if $width and $height {
    width: $width;
    height: $height;
    margin: -($width / 2) #{0 0} - ($height / 2);
  } @else if not $height {
    width: $width;
    margin-left: -($width / 2);
    transform: translateY(-50%);
  } @else {
    height: $height;
    margin-top: -($height / 2);
    transform: translateX(-50%);
  }
}

@mixin wrapper-centered(){
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}