

<div class="animation-opacity">
<table class="info-table">

  <tr>
    <th>Host Name</th>
    <td>{{hostname}}</td>
  </tr>

  <tr>
    <th>RAM </th>
    <td>{{ram}} GB</td>


  </tr>

  <tr>
    <th>CPU</th>
    <td>{{processors}}</td>
  </tr>

  <tr>
    <th>System OS</th>
    <td>{{systemos}}</td>
  </tr>

  <tr>
    <th>Host IP</th>
    <td>{{hostip}}</td>
  </tr>

  <tr>
    <th>Disk Used</th>
    <td>% {{diskused}}</td>
  </tr>

 

</table>

</div>