<div class="animation-opacity">


<table class="info-table ">
    <tr>
        <th>IP </th>
        <td>{{ip}}</td>
    </tr>
    <tr>
        <th>ISP & Sponsor </th>
        <td style="font-size:28px">{{isp}} & {{sponsor}} ({{distance}} km)</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>{{country}} ({{latitude}} , {{longitude}}) </td>
</table>


<div class="container">

    <div id="speedTestResult" class="container__row h-100 border" style="display: none;">
        <div class="container__col-6 ">
            <div>
                <span id="gauge-value-download" class="gauge-value"> </span>
                <canvas id="download" class="gauge-canvas" />
            </div>
        </div>
        <div class=" container__col-6 ">
            <div>
                <span id="gauge-value-upload" class="gauge-value"> </span>
                <canvas id="upload" class="gauge-canvas" />
            </div>
        </div>
    </div>

    <div id="speedTestStart" class="container__row h-100" >

        <div id="loader" class="wrapper" style="display: none;">
            <span class="loader-label"> Testing...</span>
            <div class="loader"></div>
        </div>

        <div id="start" class="wrapper">
            <button id="startTest" class="btn btn-start h-25 w-25"> START SPEED TEST</button>
        </div>
    </div>

</div>

</div>